#
# Enable modules
#
common --experimental_enable_bzlmod

#
# Use external packages
#
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main

#
# Enable C++17
#
build --cxxopt=-std=c++17

#
# Tighten warnings
#
build --cxxopt='-Werror' --cxxopt='-pedantic' --cxxopt='-Wall' --cxxopt='-Wextra'
